---
layout: page
title: "About"
description: "Let knowledge grow from more to more; and so be human life enriched"
header-img: "img/post-bg-sf.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0"> 英语 English </option>
    <option value="1" selected> 中文 Chinese </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
	Building a better environment
    </blockquote>
    I am <strong>Yixuan Zheng</strong>, currently a Postdoctoral Research Scientist at <a href="https://dge.carnegiescience.edu/labs/caldeiralab/caldeira_staff.html"> Ken Caldeira's lab</a> at <a href="https://dge.carnegiescience.edu/"> the Carnegie Institution for Science, Department of Global Ecology</a> at Stanford University.<br><br> My current study tries to reveal the potential climate benefits of poverty eradication. <br><br>Before coming to the Carnegie Institution, I received my Ph.D. from the Department of Earth System Science, Tsinghua University in Beijing, China. During my Ph.D., I studied drivers of China's fine particulate (PM<sub>2.5</sub>) air pollution and its attributable premature mortality.
    <p style="text-align:right;">
    <a href="researchgate.net/profile/Yixuan_Zheng">My Researchgate </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Building a better environment
    </blockquote>

    <p>
    I am <strong>Yixuan Zheng</strong>, currently a Postdoctoral Research Scientist at <a href="https://dge.carnegiescience.edu/labs/caldeiralab/caldeira_staff.html"> Ken Caldeira's lab</a> at <a href="https://dge.carnegiescience.edu/"> the Carnegie Institution for Science, Department of Global Ecology</a> at Stanford University.<br><br> My current study tries to reveal the potential climate benefits of poverty eradication. <br><br>Before coming to the Carnegie Institution, I received my Ph.D. from the Department of Earth System Science, Tsinghua University in Beijing, China. During my Ph.D., I studied drivers of China's fine particulate (PM<sub>2.5</sub>) air pollution and its attributable premature mortality.
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
